.component {
    /* display: block; */
    background-color: aquamarine;
    color: black;
    padding: 80px;
    /* margin-right: 10px; */
}

.result {
    display: inline-block;
    padding: 10px;
}

.input {
    padding: 10px;
}