.component {
    /* width: 100%; */
    display: inline-flexbox;
    background-color: aquamarine;
    color: white;
    /* margin: 50%; */
    margin-top: 50%;
    /* margin-right: 50%; */
    /* align-items: center; */
    align-content: center;
    justify-content: center;
}

.result {
    /* display: inline-block; */
    margin: 100px;
}

.input {
    display: block;
    /* margin: 10px; */
    width: 197px;

}

.select {
    display: block;
    /* margin: 10px; */
    width: 200px;
}

.button {
    display: block;
    /* padding: 5px; */
    width: 200px;
}